---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Particles from '@components/Particles/Particles.vue';
import PostImage from '@/components/Media/PostImage.astro';
import SearchButton from '@components/Blog/SearchButton.vue';
import siteData from '@config/siteData.json';
import { getReadingTime } from '@/utils/readingTime';
import { formatDate } from '@/utils/formatDate';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const allTags = Array
  .from(new Set(posts.flatMap((post) => post.data.tags || [])))
  .sort((a, b) => a.localeCompare(b));
---

<Layout
  title={`${siteData.author.name} - Blog`}
  description="Latest articles, insights, and tutorials."
>
  <Particles client:only="vue" />

  <section class="mx-auto max-w-3xl px-6 pt-24 md:pt-36 lg:pt-44">
    <header class="text-left mb-12">
      <h1 class="h1 text-pretty text-gradient pb-2">Exploring Full Stack Development, AI, and Beyond</h1>
      <p class="description mt-6 text-pretty">
        Thoughts, tutorials, and projects on web development, machine learning, and tech industry trends.
      </p>
    </header>

    <!-- Search Button & Tag Filter Buttons -->
    {
      allTags.length > 0 && (
        <div id="tag-filters" class="flex flex-wrap gap-2 mb-12 items-center max-h-[6rem] overflow-y-auto hide-scrollbar">

          <SearchButton
            client:only="vue"
            posts={
              posts.map((post) => ({
                title: post.data.title || '',
                description: post.data.description || '',
                url: `/blog/${post.slug}/`,
                pubDate: post.data.pubDate,
              }))
            }
            language={siteData.language}
          />

          <button
            type="button"
            class="filter-btn bg-base-800 hover:bg-primary-500 text-xs text-primary-400 hover:text-white font-medium py-1 px-3 rounded-full transition"
            data-tag="all"
          >
            Show All
          </button>

          {allTags.map((tag) => (
            <button
              type="button"
              class="filter-btn bg-base-800 hover:bg-primary-500 text-xs text-primary-400 hover:text-white font-medium py-1 px-3 rounded-full transition"
              data-tag={tag}
            >
              #{tag}
            </button>
          ))}
        </div>
      )
    }

    <!-- Posts List -->
    <div id="posts-grid" class="grid gap-10 grid-cols-1 md:grid-cols-2">
      {
        posts.map((post) => {
          const readingDuration = getReadingTime(post.body);
          return (
            <a
              href={`/blog/${post.slug}/`}
              class="post-card group block overflow-hidden rounded-2xl border border-base-700 bg-base-900 hover:border-primary-500 hover:shadow-xl hover:scale-[1.02] transform transition-all duration-300"
              data-tags={post.data.tags?.join(',')}
            >
              <PostImage
                src={post.data.image}
                alt={`Cover image for ${post.data.title}`}
              />

              <div class="p-6">
                <h2 class="text-2xl font-semibold mb-2 group-hover:underline-ltr">
                  {post.data.title}
                </h2>

                <div class="flex flex-wrap items-center gap-2 text-base-400 text-sm mb-4">
                  <span>
                    {formatDate(post.data.pubDate, siteData.language, { relative: true, relativeLimitDays: 7 })}
                  </span>
                  <span>·</span>
                  <span>{readingDuration}</span>
                  {post.data.author && (
                    <>
                      <span>·</span>
                      <span>By {post.data.author}</span>
                    </>
                  )}
                </div>

                {post.data.tags && (
                  <div class="flex flex-wrap gap-2 mb-4">
                    {post.data.tags.map((tag) => (
                      <span class="bg-primary-100 text-primary-800 text-xs px-2 py-1 rounded-full">
                        #{tag}
                      </span>
                    ))}
                  </div>
                )}

                <p class="text-base-300 line-clamp-3">{post.data.description}</p>
              </div>
            </a>
          );
        })
      }
    </div>

    <!-- Posts filtering with tag highlight -->
    <script is:inline>
      const tagButtons = document.querySelectorAll('.filter-btn');
      const posts = document.querySelectorAll('#posts-grid .post-card');

      tagButtons.forEach((button) => {
        button.addEventListener('click', () => {
          const selectedTag = button.dataset.tag;

          // Highlight only selected button
          tagButtons.forEach((btn) => {
            if (btn === button) {
              btn.classList.add('bg-primary-500', 'text-white');
              btn.classList.remove('bg-base-800', 'text-primary-400');
            } else {
              btn.classList.remove('bg-primary-500', 'text-white');
              btn.classList.add('bg-base-800', 'text-primary-400');
            }
          });

          // Filter posts
          posts.forEach((post) => {
            const postTags = post.dataset.tags?.split(',') || [];

            if (selectedTag === 'all' || postTags.includes(selectedTag)) {
              post.style.display = '';
            } else {
              post.style.display = 'none';
            }
          });
        });
      });
    </script>
  </section>
</Layout>
